.submit-button {
    margin-top: 10px;

}
.content_to_center {
    vertical-align: middle;
    margin: 0;
    position: absolute; /* 2 */
    top: 35%;
    left: 33%;
}
.btm-pd {
    padding-bottom: 10px;
}

